@media all and (max-width: 768px) {
    .main {
        width: 60%;
    }
}

@media all and (max-width: 624px) {
    .main {
        width: 90%;
    }

    .title {
        font-size: 28px !important;
    }

}