@media all and (max-width: 1024px) {
    .title {
        font-size: x-large !important;
    }

    .text {
        font-size: 12px !important;
    }
}

@media all and (max-width: 320px) {
    .title {
        font-size: 23px !important;
    }

    .text {
        font-size: 10px !important;
        text-align: center;
    }
}