.picture {
    object-fit: cover;
    border-bottom: 1px solid #CCCCFF !important;
    width: 100%;
    height: 300px;
}

.card {
    width: 48%;
    margin: 7px auto;
    border-radius: 10px;
    border-color: #CCCCFF !important;
    box-shadow: -4px 0px 4px rgba(117, 117, 117, 0.1), 4px 0px 4px rgba(117, 117, 117, 0.1), 0px 4px 4px rgba(117, 117, 117, 0.1);
}

.block_text {
    display: flex;
    align-items: flex-end;
}

@media all and (max-width: 1024px) {
    .titles {
        font-size: 24px !important;
    }
}

@media all and (max-width: 768px) {
    .titles {
        font-size: 16px !important;
    }
}

@media all and (max-width: 320px) {
    .card {
        width: 95%;
    }

    .titles {
        font-size: 16px !important;
    }

    .block_text {
        font-size: 13px !important;
    }
}